.pulse {
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 240px;
	height: 240px;
	font-weight: bold;
	font-size: 20px;
	color: #fff;

	&:after {
		content: "";
		z-index: -1;
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgb(242 108 58);
		/* background-image: radial-gradient(
			circle,
			rgb(255, 69, 2) 0%,
			rgb(242, 108, 58) 50%
		); */
		border-radius: 50%;
		animation: beat-center 2s ease 0s infinite;
	}

	&:before {
		content: "";
		z-index: -1;
		position: absolute;
		display: block;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		border-radius: 50%;
		border: 2px solid rgb(242 108 58);
		animation: beat-out 2s ease-out -0.1s infinite;
	}
}

.pulseConnected {
	transition: all 1s ease-in-out;
	width: 200%;
	height: 200%;
	/* transform: translateX(0%) translateY(0%); */
	color: transparent;

	&:before {
		transition: all 0.5s ease-in-out;
		animation: none;
		opacity: 0;
	}
	&:after {
		transition: all 0.5s ease-in-out;
		background: rgba(242, 108, 58, 0.1);
		animation: pulse 6s ease-in-out 0s infinite;
	}
}

@keyframes beat-center {
	0%,
	30%,
	100% {
		transform: scale(1, 1);
	}
	20%,
	90% {
		transform: scale(0.95);
	}
}

@keyframes beat-out {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	80%,
	100% {
		transform: scale(1.5);
		opacity: 0;
	}
}

@keyframes pulse {
	0%,
	30%,
	100% {
		opacity: 1;
	}
	20%,
	90% {
		opacity: 0.5;
	}
}

.bars {
	position: absolute;
	left: 50%;
	bottom: 15px;
	height: 5px;
	transform: translate(-50%, 0%);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease;
}

.speaking {
	bottom: 5px;
	height: 30px;
}

.bars > div {
	background: rgb(242, 108, 58);
	height: 100%;
	width: 7px;
	margin: 0px 2px;
	border-radius: 5px;
	animation: sound 0ms -0.6s linear infinite alternate;
}

.bars > div:nth-child(2) {
	animation-duration: 474ms;
}
.bars > div:nth-child(2n + 1) {
	animation-duration: 433ms;
}
.bars > div:nth-child(3n + 1) {
	animation-duration: 407ms;
}
.bars > div:nth-child(4n + 1) {
	animation-duration: 458ms;
}
.bars > div:nth-child(5n + 1) {
	animation-duration: 400ms;
}
.bars > div:nth-child(6n + 1) {
	animation-duration: 427ms;
}
.bars > div:nth-child(7n + 1) {
	animation-duration: 441ms;
}
.bars > div:nth-child(8n + 1) {
	animation-duration: 419ms;
}

@keyframes sound {
	0% {
		opacity: 0.3;
		height: 10%;
	}
	100% {
		opacity: 1;
		height: 100%;
	}
}
